In [39]:
import pandas as pd
import numpy as np

energy = pd.read_excel("Energy Indicators.xls")
energy = energy.drop('Unnamed: 0', axis=1)
energy = energy.drop('Unnamed: 1', axis=1)

energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
# make sure to exclude the footer and header information from the datafile.
# energy.drop?

energy = energy.iloc[16:]

# reset the index start from 0
energy.reset_index(drop=True, inplace=True)

# Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).
# For all countries which have missing data (e.g. data with "...") 
# make sure this is reflected as `np.NaN` values.
energy['Energy Supply'] = energy['Energy Supply'].map(lambda x: np.NaN if x=='...' else x/1000000)
energy[energy['Country'] == 'United Kingdom of Great Britain and Northern Ireland19']

# find the country  has number
change_mask = energy['Country'].str.contains(r'[0-9]+| [(,))]+', na=False)
energy[change_mask]

# here are also several countries with numbers and/or parenthesis in their name. Be sure to remove these
# 'Bolivia (Plurinational State of)' should be 'Bolivia',

# 'Switzerland17' should be 'Switzerland'.
energy['Country'] = energy['Country'].str.replace('[0-9]+|[(,)]+', '')
energy[change_mask]

# Rename the following list of countries (for use in later questions):
energy.replace({"Republic of Korea": "South Korea", 
                "United States of America": "United States",
                "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
                "China Hong Kong Special Administrative Region": "Hong Kong",
                "Iran Islamic Republic of": 'Iran'}, 
               inplace=True)

# check all have been changed
country_mask = energy['Country'].isin(['South Korea', "United States","United Kingdom", "Hong Kong"])
energy[country_mask]
# energy[energy['Country'] == 'Hong Kong']
#energy['Country'].iloc[235]

# load the GDP data from the file world_bank.csv,
# which is a csv containing countries' GDP from 1960 to 2015 from World Bank. 
# Call this DataFrame GDP
GDP = pd.read_csv('world_bank.csv')
# GDP.head()
GDP_country_list = list(GDP.iloc[3])
print(GDP_country_list)
GDP = GDP.iloc[4:]
#print(GDP.iloc[0])
GDP.columns = GDP_country_list
#print(GDP.iloc[0])

# rename these country
# "Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"
GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                "Iran, Islamic Rep.": "Iran", 
                                                "Hong Kong SAR, China": "Hong Kong"}, 
                                              inplace=True)
# check all have been changed, test code
# GDP_country_mask = GDP['Country Name'].isin(['South Korea', "Iran", "Hong Kong"])
# GDP[GDP_country_mask]

# load the Sciamgo from the file scimagojr-3.xlsx,
# which ranks countries based on their journal contributions in the aforementioned area. 
# Call this DataFrame ScimEn.
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn.head()

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0]

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [63]:
# get the top 15 country in ScimEn rank
rank_mask = ScimEn['Rank'] < 16
rank_country_name = list(ScimEn[rank_mask]['Country'])
print(rank_country_name)
ScimEn_rank = ScimEn[rank_mask]
ScimEn_rank.reset_index(drop=True, inplace=True)

energy_rank = energy[energy['Country'].isin(rank_country_name)]
energy_rank.reset_index(drop=True, inplace=True)

GDP_rank = GDP[GDP['Country Name'].isin(rank_country_name)]
GDP_rank.reset_index(drop=True, inplace=True)

# set GDP_rank column name to 'Country'
GDP_rank = GDP_rank.rename(columns={'Country Name': 'Country'})
print('GDP_rank columns: ' + str(list(GDP_rank.columns)))
# energy_rank
# find the missing country in energy is 'Iran Islamic Republic of'
# go backk to energy to rename it to Iran
#energy[energy['Country'].str.contains('Ir', na=False)]
#GDP_rank
#check
# ScimEn_rank
print(list(ScimEn_rank.columns))

['China', 'United States', 'Japan', 'United Kingdom', 'Russian Federation', 'Canada', 'Germany', 'India', 'France', 'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil']
GDP_rank columns: ['Country', 'Country Code', 'Indicator Name', 'Indicator Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0]
['Rank', 'Country', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']

In [90]:
all_rank = pd.merge(energy_rank, ScimEn_rank, how='right', left_on='Country', right_on='Country')
print(list(all_rank.columns))
all_rank = pd.merge(GDP_rank, all_rank, how='right', left_on='Country', right_on='Country')
print(list(all_rank.columns))
#all_rank

# The index of this DataFrame should be the name of the country, 
all_rank.set_index('Country', inplace=True)

# all_rank.set_index('')

# 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0
# they are <class 'numpy.float64'> which should make them to interger
for col in all_rank.columns:
    # print(str(type(col)) + '-\n')
    if type(col) == np.float64:
        all_rank.rename(columns={col: col.astype(int)}, inplace=True)
        #print('float64 to'+ str(type(col)))

print(list('change to int\n'))
print(list(all_rank.columns))

# the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
# 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 
#'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].
all_rank_columns = ['Rank', 'Documents', 'Citable documents', 
                    'Citations', 'Self-citations', 'Citations per document', 
                    'H index', 'Energy Supply', 'Energy Supply per Capita', 
                    '% Renewable', 2006, 2007, 
                    2008, 2009, 2010, 
                    2011, 2012, 2013, 
                    2014, 2015]
# note that the column about year is type int, so the all_rank_columns list should be int
all_rank = all_rank[all_rank_columns]
all_rank

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']
['Country', 'Country Code', 'Indicator Name', 'Indicator Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']
['c', 'h', 'a', 'n', 'g', 'e', ' ', 't', 'o', ' ', 'i', 'n', 't', '\n']
['Country Code', 'Indicator Name', 'Indicator Code', 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,0.005386,231,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,0.012149,59,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6,17899,17620,215003,40930,12.01,149,0.010431,296,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1,127050,126767,597237,411683,4.70,138,0.127191,93,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
Germany,7,17027,16831,140566,27426,8.26,126,0.013261,165,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
Spain,12,9428,9330,123336,23964,13.08,115,0.004923,106,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
France,9,13153,12973,130632,28601,9.93,114,0.010597,166,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,0.007920,124,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
India,8,15005,14841,128763,37209,8.58,115,0.033195,26,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Iran,13,8896,8819,57470,19125,6.46,72,0.009172,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Italy,11,10964,10794,111850,26661,10.20,106,0.006530,109,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3,30504,30287,223024,61554,7.31,134,0.018984,149,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
South Korea,10,11983,11923,114675,22595,9.57,104,0.011007,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,0.030709,214,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
United States,2,96661,94747,792274,265436,8.20,230,0.090838,286,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13