In [1]:
import pandas as pd
import os
!dir ./movielens/

无效开关 - "movielens"。

In [2]:
!cat ./movielens/movies.csv

'cat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [3]:
movies = pd.read_csv('./movielens/movies.csv', sep=',')
print(type(movies))
movies.head(15)

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance

In [4]:
tags = pd.read_csv('./movielens/tags.csv', sep=',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [5]:
rating = pd.read_csv('./movielens/ratings.csv', sep=',', parse_dates=['timestamp'])
rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [6]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [7]:
print(row_0)

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [9]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [11]:
row_0['userId']

18

In [12]:
'rating' in row_0

False

In [13]:
row_0.name

0

In [14]:
row_0 = row_0.rename('first_row')

In [15]:
row_0.name

'first_row'

In [16]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [17]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [18]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [20]:
tags.iloc[[0, 11, 2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

In [21]:
rating['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [24]:
rating.func()

AttributeError: 'DataFrame' object has no attribute 'func'