In [4]:
import pandas as pd
movies = pd.read_csv('./movielens/movies.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
movies.shape

(27278, 3)

In [6]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [7]:
rating = pd.read_csv('./movielens/ratings.csv', sep=',', parse_dates=['timestamp'])
rating.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [8]:
rating.shape

(100836, 4)

In [10]:
rating.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [12]:
tags = pd.read_csv('./movielens/tags.csv', sep=',', parse_dates=['timestamp'])
tags.shape

(465564, 4)

In [13]:
tags.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [14]:
tags = tags.dropna()

In [15]:
tags.isnull().any()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

In [16]:
tags.shape

(465548, 4)