In [12]:
import pandas as pd

In [13]:
rating = pd.read_csv('./movielens/ratings.csv', sep=',', parse_dates=['timestamp'])
rating.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [14]:
rating['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [15]:
rating.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [16]:
rating['rating'].mean()

3.501556983616962

In [17]:
rating.mean()

userId       3.261276e+02
movieId      1.943530e+04
rating       3.501557e+00
timestamp             inf
dtype: float64

In [18]:
rating['rating'].min()

0.5

In [19]:
rating['rating'].max()

5.0

In [20]:
rating['rating'].std()

1.0425292390605359

In [21]:
rating['rating'].mode()

0    4.0
dtype: float64

In [23]:
rating.corr()

           userId   movieId    rating
userId   1.000000  0.006773 -0.049348
movieId  0.006773  1.000000 -0.004061
rating  -0.049348 -0.004061  1.000000

In [27]:
filter_1 = rating['rating'] > 5
print(type(filter_1))
filter_1.any()
#print(filter_1)

<class 'pandas.core.series.Series'>

False

In [28]:
filter_2 = rating['rating'] > 0
filter_2.all()

True