In [1]:
import numpy as np

In [2]:
# creating arrays

In [3]:
mylist = [1, 2, 3]

In [4]:
x = np.array(mylist)
x

array([1, 2, 3])

In [5]:
y = np.array([4, 5, 6])

In [6]:
y

array([4, 5, 6])

In [8]:
m = np.array([[7,8,9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [9]:
m.shape

(2, 3)

In [10]:
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [11]:
n = n.reshape(3, 5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [22]:
o = np.linspace(0, 4, 9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [23]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [27]:
np.ones((3, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [28]:
np.zeros((3, 3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [29]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
y

array([4, 5, 6])

In [31]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [32]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [33]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [35]:
p = np.ones([2, 3])
p

array([[1., 1., 1.],
       [1., 1., 1.]])

In [37]:
p = np.vstack([p, p*2])
p

array([[1., 1., 1.],
       [1., 1., 1.],
       [2., 2., 2.],
       [2., 2., 2.]])

In [38]:
#operation
x
y

array([4, 5, 6])

In [39]:
x

array([1, 2, 3])

In [40]:
y

array([4, 5, 6])

In [41]:
x+y

array([5, 7, 9])

In [42]:
x*y

array([ 4, 10, 18])

In [43]:
x**2

array([1, 4, 9], dtype=int32)

In [44]:
x^2

array([3, 0, 1], dtype=int32)

In [45]:
x.dot(y)

32

In [46]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [47]:
z.shape()

TypeError: 'tuple' object is not callable

In [48]:
z.shape

(2, 3)

In [50]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [51]:
z.T.shape

(3, 2)

In [52]:
z.dtype

dtype('int32')

In [53]:
z = z.astype('f')

In [54]:
z.dtype

dtype('float32')

In [55]:
a = np.array([-4, -2, 1, 3, 5])

In [56]:
a.sum

In [57]:
a.sum()

3

In [58]:
a.max()

5

In [59]:
a.min()

-4

In [60]:
a.mean()

0.6

In [61]:
a.std()

3.2619012860600183

In [63]:
a.argmax()

4

In [64]:
a.argmin()

0

In [68]:
#indexing slicing
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [70]:
s[0] ,s[4] ,s[1:3]

(0, 16, array([1, 4], dtype=int32))

In [71]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

In [72]:
s[-4:]

array([ 81, 100, 121, 144], dtype=int32)

In [74]:
s[-5:-2]

array([ 64,  81, 100], dtype=int32)

In [75]:
r = np.arange(36)
r.resize([6, 6])
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [76]:
r[3, 2]

20

In [78]:
r[3, 3:5]

array([21, 22])

In [79]:
r[3, 3:6]

array([21, 22, 23])

In [80]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [81]:
r[-1, ::2]

array([30, 32, 34])

In [82]:
r[r>30]

array([31, 32, 33, 34, 35])

In [83]:
r[r>30] = 30

In [84]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [85]:
r2 = r[:3, :3]

In [86]:
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [87]:
r2[:] = 0

In [88]:
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [89]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [90]:
r_copy = r.copy()

In [91]:
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [92]:
r_copy[:] = 10

In [93]:
print(r_copy)
print()
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

In [94]:
# iteration
test = np.random.randint(0, 10, (4, 3))

In [95]:
test

array([[3, 4, 2],
       [6, 0, 5],
       [6, 0, 2],
       [9, 3, 5]])

In [97]:
for row in test:
    print(row)

[3 4 2]
[6 0 5]
[6 0 2]
[9 3 5]

In [98]:
len(test)

4

In [100]:
for i in range(len(test)):
    print(test[i])

[3 4 2]
[6 0 5]
[6 0 2]
[9 3 5]

In [101]:
for index, row in enumerate(test):
    print(index, row)

0 [3 4 2]
1 [6 0 5]
2 [6 0 2]
3 [9 3 5]

In [102]:
test2 = test**2

In [103]:
test2

array([[ 9, 16,  4],
       [36,  0, 25],
       [36,  0,  4],
       [81,  9, 25]], dtype=int32)

In [104]:
for i, j in zip(test, test2):
    print(i, '+', j, '=', i+j)

[3 4 2] + [ 9 16  4] = [12 20  6]
[6 0 5] + [36  0 25] = [42  0 30]
[6 0 2] + [36  0  4] = [42  0  6]
[9 3 5] + [81  9 25] = [90 12 30]

In [2]:
#quiz
import numpy as np
a = np.arange(36)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35])

In [3]:
a.resize(6,6)

In [4]:
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [5]:
a[::7]

array([[0, 1, 2, 3, 4, 5]])

In [6]:
a[:,::7]

array([[ 0],
       [ 6],
       [12],
       [18],
       [24],
       [30]])

In [7]:
a.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])

In [8]:
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [9]:
a[2:4,2:4]

array([[14, 15],
       [20, 21]])