In [20]:
import pandas as pd
import numpy as np

energy = pd.read_excel("Energy Indicators.xls")
energy = energy.drop('Unnamed: 0', axis=1)
energy = energy.drop('Unnamed: 1', axis=1)

energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
# make sure to exclude the footer and header information from the datafile.
# energy.drop?

energy = energy.iloc[16:]

# reset the index start from 0
energy.reset_index(drop=True, inplace=True)

# Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).
# For all countries which have missing data (e.g. data with "...") 
# make sure this is reflected as `np.NaN` values.
energy['Energy Supply'] = energy['Energy Supply'].map(lambda x: np.NaN if x=='...' else x/1000000)
energy[energy['Country'] == 'United Kingdom of Great Britain and Northern Ireland19']

# find the country  has number
change_mask = energy['Country'].str.contains(r'[0-9]+| [(,))]+', na=False)
energy[change_mask]

# here are also several countries with numbers and/or parenthesis in their name. Be sure to remove these
# 'Bolivia (Plurinational State of)' should be 'Bolivia',

# 'Switzerland17' should be 'Switzerland'.
energy['Country'] = energy['Country'].str.replace('[0-9]+|[(,)]+', '')
energy[change_mask]

# Rename the following list of countries (for use in later questions):
energy.replace({"Republic of Korea": "South Korea", 
                "United States of America": "United States",
                "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
                "China Hong Kong Special Administrative Region": "Hong Kong"}, 
               inplace=True)

# check all have been changed
country_mask = energy['Country'].isin(['South Korea', "United States","United Kingdom", "Hong Kong"])
energy[country_mask]
# energy[energy['Country'] == 'Hong Kong']
#energy['Country'].iloc[235]

# load the GDP data from the file world_bank.csv,
# which is a csv containing countries' GDP from 1960 to 2015 from World Bank. 
# Call this DataFrame GDP
GDP = pd.read_csv('world_bank.csv')
# GDP.head()
GDP_country_list = list(GDP.iloc[3])
print(GDP_country_list)
GDP = GDP.iloc[4:]
#print(GDP.iloc[0])
GDP.columns = GDP_country_list
#print(GDP.iloc[0])

# rename these country
# "Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"
GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                "Iran, Islamic Rep.": "Iran", 
                                                "Hong Kong SAR, China": "Hong Kong"}, 
                                              inplace=True)
# check all have been changed, test code
# GDP_country_mask = GDP['Country Name'].isin(['South Korea', "Iran", "Hong Kong"])
# GDP[GDP_country_mask]

# load the Sciamgo from the file scimagojr-3.xlsx,
# which ranks countries based on their journal contributions in the aforementioned area. 
# Call this DataFrame ScimEn.
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn.head()

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0]

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57