---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [101]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [102]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [103]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

def states_map(x):
    x_new = list(states.keys())[list(states.values()).index(x)]
    
    return x_new

import re
def get_list_from_txt():
    ut_data = []
    with open('./university_towns.txt', 'r') as f_read:
        for each_line in f_read:
            # remove the '\n'
            each_line = each_line.strip('\n')
            
            # skip the note line with the ':' as the end of line
            if (each_line.endswith(':')):
                continue
            # check if the line is a new state
            is_state = each_line.find('[edit]')
            if is_state > 0:
                # we got a new state
                (current_state_name, extra) = each_line.split('[')
                #print('--> '+ current_state_name)
            else:
                # this is a university town name with the old state name
                # store it
                # removing every character from " (" to the end
                # special line has two region split by '*'
                result = re.split('[(*(]', each_line)

                region_name = result[0]
                #print('-->--> ' + region_name)
                ut_data.append([current_state_name, region_name])
                
                if (len(result) > 2 and each_line.find('*') > 0):
                    region_name = result[2]
                    #print('-->--> ' + region_name)
                    ut_data.append([current_state_name, region_name])
    return ut_data
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    # ut_data = [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ]
    ut_data = get_list_from_txt()
    #ut_data = pd.Series(ut_data)
    ut_df = pd.DataFrame(ut_data, columns=["State", "RegionName"])
    
    # map the state name to two letter acronyms
    ut_df['State'] = ut_df['State'].apply(states_map)
    
    return ut_df

df = get_list_of_university_towns()
df.head()

  State     RegionName
0    AL        Auburn
1    AL      Florence
2    AL  Jacksonville
3    AL    Livingston
4    AL    Montevallo

In [104]:
def get_city_homeprice():
    ct_home_price_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    return ct_home_price_df

ct_home_price_df = get_city_homeprice()
#print(list(ct_home_price_df.columns))
gdp_df = ct_home_price_df.iloc[:, 6:]
#gdp_df.head()
# gdp_df.info()
gdp_df.columns = pd.DatetimeIndex(gdp_df.columns)
gdp_df.head()
gdp_df_Q = gdp_df.resample('Q', axis=1).mean()
gdp_df_Q.fillna(method = 'bfill', inplace=True, axis = 1)
gdp_df_qsum = gdp_df_Q.sum()
type(gdp_df_qsum)
gdp_df_qsum_df = pd.DataFrame(gdp_df_qsum, columns=['GDP'])
gdp_df_qsum_df.head()

                     GDP
1996-06-30  1.367418e+09
1996-09-30  1.369793e+09
1996-12-31  1.373754e+09
1997-03-31  1.384613e+09
1997-06-30  1.395653e+09

In [105]:
gdp_df.head()

,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,...,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,155000.0,154600.0,154400.0,154200.0,154100.0,154300.0,154300.0,154200.0,154800.0,155900.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,109700.0,109400.0,109300.0,109300.0,109100.0,109000.0,109000.0,109600.0,110200.0,110800.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,50000.0,49900.0,49600.0,49400.0,49400.0,49300.0,49300.0,49400.0,49700.0,49600.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,87200.0,87700.0,88200.0,88400.0,88500.0,88900.0,89400.0,89700.0,90100.0,90700.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

* A recession is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A recession bottom is the quarter within a recession which had the lowest GDP.
* A university town is a city which has a high percentage of university students compared to the total population of the city.

In [106]:
# define a dictionary to store the recession info
recession_info = {'start':[], 
                 'bottom':[],
                 'end':[]}

# this quarter compare to last one, if Q2 < Q1, then the increase is False
gdp_df_qsum_df['Increase'] = True
for i in range(1, len(gdp_df_qsum_df)-1):
    if gdp_df_qsum_df['GDP'].iloc[i] <= gdp_df_qsum_df['GDP'].iloc[i-1]:
        gdp_df_qsum_df['Increase'].iloc[i] = False

# without list , all the value in Increase would be NAN
#gdp_df_qsum_df['Increase'] = list(gdp_df_qsum_df.reset_index()['GDP'] < gdp_df_qsum_df_cp.reset_index()['GDP'])
#gdp_df_qsum_df['Increase'].iloc[60]
#gdp_df_qsum_df.iloc[1]

# go through the data frame to get recession info
# find the recession start
for i in range(0, len(gdp_df_qsum_df)-2):
    if (gdp_df_qsum_df['Increase'].iloc[i] == False and gdp_df_qsum_df['Increase'].iloc[i+1] == False):
        # we got recession start
        #time = gdp_df_qsum_df['GDP'].index[3]
        recession_start = gdp_df_qsum_df.iloc[i].name
        #print('the recession start at {}'.format(recession_start))
        recession_info['start'] = [i, recession_start]
        print('recession start quarter:{}, index:{}'.format(recession_info['start'][1], recession_info['start'][0]))
        break
        
    
# find the recession end
for i in range(recession_info['start'][0], len(gdp_df_qsum_df)-2):
    if (gdp_df_qsum_df['Increase'].iloc[i] == True and gdp_df_qsum_df['Increase'].iloc[i+1] == True):
        recession_info['end'] = [i, gdp_df_qsum_df.iloc[i].name]
        print('recession end quarter:{}, index:{}'.format(recession_info['end'][1], recession_info['end'][0]))
        break

recession_df = gdp_df_qsum_df[recession_info['start'][0]:recession_info['end'][0]+1]

bottom = recession_df[recession_df['GDP'] == recession_df['GDP'].min()]
#print(type(bottom))
recession_info['bottom'] = [0, bottom.index[0]]

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

recession start quarter:2006-12-31 00:00:00, index:42
recession end quarter:2012-06-30 00:00:00, index:64

In [107]:
recession_start_str = recession_info['start'][1]
print(type(recession_start_str))
year,month = recession_start_str.strftime('%Y-%m').split('-')

recession_start_str = '{}q{}'.format(year, int(int(month)/3))
recession_start_str

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

'2006q4'

'''
year_begin = pd.Timestamp('1996-04')
year_end = pd.Timestamp('2016-8')
print(str(year_begin) + ' to ' + str(year_end))
month_delta = pd.Timedelta('1M')
print('delta time is ' + str(month_delta))'''
'''prng = pd.period_range('1996-04', '2016-06', freq='3M')
for month in prng:
    print(month.to_timestamp())
    month+2 month+1 and get sum of each column and get mean of three month
    if month gdp is not exist:
        skip'''

In [108]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    recession_start_str = recession_info['start'][1]
    print(type(recession_start_str))
    year,month = recession_start_str.strftime('%Y-%m').split('-')

    recession_start_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_start_str

In [109]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    recession_end_str = recession_info['end'][1]
    print(type(recession_end_str))
    year,month = recession_end_str.strftime('%Y-%m').split('-')

    recession_end_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_end_str

In [110]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    recession_bottom_str = recession_info['end'][1]
    print(type(recession_bottom_str))
    year,month = recession_bottom_str.strftime('%Y-%m').split('-')

    recession_bottom_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_bottom_str

In [145]:
def map_column_to_quarter(date):
    year,month = date.strftime('%Y-%m').split('-')

    return_str = '{}q{}'.format(year, int(int(month)/3))
    return return_str
    
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    convert_ct_home_price_df = get_city_homeprice()
    #print(list(ct_home_price_df.columns))
    convert_gdp_df = convert_ct_home_price_df.iloc[:, 6:]
    #gdp_df.head()
    # gdp_df.info()
    convert_gdp_df.columns = pd.DatetimeIndex(convert_gdp_df.columns)
    #gdp_df.head()
    convert_gdp_df_Q = convert_gdp_df.resample('Q', axis=1).mean()
    convert_gdp_df_Q.fillna(method = 'bfill', inplace=True, axis = 1)

    convert_gdp_df_Q.columns = convert_gdp_df_Q.columns.map(map_column_to_quarter)
    
    convert_gdp_df_Q = pd.merge(convert_ct_home_price_df.iloc[:, 1:6], convert_gdp_df_Q, how='inner', left_index=True, right_index=True)
    
    
    # https://stackoverflow.com/questions/53222171/multi-index-would-not-group-the-same-key-in-python
    # I can't group it here
    #convert_gdp_df_Q.set_index([convert_gdp_df_Q['State'], convert_gdp_df_Q['RegionName']], drop=True, inplace=True)
    multi_convert_gdp_df_Q = convert_gdp_df_Q .set_index(["State","RegionName"]).sort_index()
    
    #m_index = pd.MultiIndex.from_arrays([convert_gdp_df_Q['State'], convert_gdp_df_Q['RegionName']])
    #convert_gdp_df_Q.index = m_index

    return multi_convert_gdp_df_Q

df = convert_housing_data_to_quarters()
#gdp_df_Q.head()
#df = pd.merge(ct_home_price_df.iloc[:, 1:6], gdp_df_Q,  how='inner', left_index=True, right_index=True)
df

                              Metro            CountyName  SizeRank  \
State RegionName
AK    Anchor Point              NaN       Kenai Peninsula     10082
      Anchorage           Anchorage             Anchorage        56
      Fairbanks           Fairbanks  Fairbanks North Star       839
      Homer                     NaN       Kenai Peninsula      6858
      Juneau                 Juneau                Juneau      1946
      Kenai                     NaN       Kenai Peninsula      3698
      Ketchikan           Ketchikan     Ketchikan Gateway      5151
      Kodiak                    NaN         Kodiak Island      3808
      Lakes               Anchorage     Matanuska Susitna      5923
      North Pole          Fairbanks  Fairbanks North Star      1806
      Palmer              Anchorage     Matanuska Susitna      1771
      Seward                    NaN       Kenai Peninsula      9565
      Soldotna                  NaN       Kenai Peninsula      3807
      Tanaina             Anchorage     Matanuska Susitna      4384
AL    Adamsville         Birmingham             Jefferson      5345
      Alabaster          Birmingham                Shelby      1681
      Albertville       Albertville              Marshall      1562
      Arab              Albertville              Marshall      3088
      Ardmore            Huntsville               Madison      5434
      Axis                   Mobile                Mobile      8800
      Baileyton             Cullman               Cullman      9915
      Bay Minette            Daphne               Baldwin      3031
      Bayou La Batre         Mobile                Mobile      9802
      Bessemer           Birmingham             Jefferson      2126
      Birmingham         Birmingham             Jefferson       121
      Boaz              Albertville              Marshall      5094
      Brent              Birmingham                  Bibb      7768
      Brighton           Birmingham             Jefferson      7866
      Brookwood          Tuscaloosa            Tuscaloosa      6498
      Buhl               Tuscaloosa            Tuscaloosa      9867
...                             ...                   ...       ...
WI    Yorkville              Racine                Racine      5902
WV    Belle              Charleston               Kanawha      9576
      Charleston         Charleston               Kanawha       997
      Chesapeake         Charleston               Kanawha      9575
      Clendenin          Charleston               Kanawha      6213
      Coal Fork          Charleston               Kanawha     10456
      Cross Lanes        Charleston               Kanawha      3994
      Davisville        Parkersburg                  Wood      8840
      Dunbar             Charleston               Kanawha      4859
      East Bank          Charleston               Kanawha     10562
      Elkview            Charleston               Kanawha      3492
      Eskdale            Charleston               Kanawha      9873
      Marmet             Charleston               Kanawha      9868
      Mineral Wells     Parkersburg                  Wood      9020
      Nitro              Charleston               Kanawha      5117
      Parkersburg       Parkersburg                  Wood       880
      Saint Albans       Charleston               Kanawha      4091
      Sissonville        Charleston               Kanawha      6283
      South Charleston   Charleston               Kanawha      3785
      Upper Falls        Charleston               Kanawha      9414
      Vienna            Parkersburg                  Wood      3869
      Washington        Parkersburg                  Wood      7341
      Waverly           Parkersburg                  Wood      9585
      Williamstown      Parkersburg                  Wood      5907
WY    Bar Nunn               Casper               Natrona     10603
      Burns                Cheyenne               Laramie     10092
      Casper                 Casper               Natrona       576
      Cheyenne             Cheyenne               Laramie       375
      Evansville             Casper               Natrona      9984
      Pine Bluffs          Cheyenne               Laramie     10032

                               1996q2         1996q3         1996q4  \
State RegionName
AK    Anchor Point      189700.000000  189700.000000  189700.000000
      Anchorage         180050.000000  180050.000000  180050.000000
      Fairbanks         172500.000000  172500.000000  172500.000000
      Homer             239600.000000  239600.000000  239600.000000
      Juneau            181300.000000  181300.000000  181300.000000
      Kenai             204550.000000  204550.000000  204550.000000
      Ketchikan         197800.000000  197800.000000  197800.000000
      Kodiak            258400.000000  258400.000000  258400.000000
      Lakes             182300.000000  182300.000000  182300.000000
      North Pole        167500.000000  167500.000000  167500.000000
      Palmer            177800.000000  177800.000000  177800.000000
      Seward            247050.000000  247050.000000  247050.000000
      Soldotna          219150.000000  219150.000000  219150.000000
      Tanaina           170950.000000  170950.000000  170950.000000
AL    Adamsville         60666.666667   60366.666667   60533.333333
      Alabaster         108166.666667  107266.666667  107600.000000
      Albertville        67200.000000   65633.333333   64700.000000
      Arab               74666.666667   73733.333333   74700.000000
      Ardmore           112400.000000  112400.000000  112400.000000
      Axis              142650.000000  142650.000000  142650.000000
      Baileyton         121950.000000  121950.000000  121950.000000
      Bay Minette        66966.666667   69200.000000   68566.666667
      Bayou La Batre     40466.666667   39133.333333   37766.666667
      Bessemer           66600.000000   66600.000000   66600.000000
      Birmingham         45933.333333   46033.333333   46033.333333
      Boaz               65533.333333   62166.666667   59900.000000
      Brent              79966.666667   82100.000000   84433.333333
      Brighton           59500.000000   59500.000000   59500.000000
      Brookwood          87400.000000   86866.666667   86400.000000
      Buhl               81400.000000   82733.333333   81366.666667
...                               ...            ...            ...
WI    Yorkville         162200.000000  158366.666667  155966.666667
WV    Belle              46166.666667   46566.666667   46866.666667
      Charleston         55300.000000   55533.333333   53633.333333
      Chesapeake         40550.000000   40550.000000   40550.000000
      Clendenin          39550.000000   39550.000000   39550.000000
      Coal Fork          43350.000000   43350.000000   43350.000000
      Cross Lanes        77100.000000   75733.333333   74033.333333
      Davisville         75200.000000   75200.000000   75200.000000
      Dunbar             73400.000000   73400.000000   73400.000000
      East Bank          39750.000000   39750.000000   39750.000000
      Elkview            91350.000000   91350.000000   91350.000000
      Eskdale            81600.000000   81600.000000   81600.000000
      Marmet             47800.000000   47800.000000   47800.000000
      Mineral Wells      70700.000000   69700.000000   69966.666667
      Nitro              86200.000000   86200.000000   86200.000000
      Parkersburg        47133.333333   48133.333333   48200.000000
      Saint Albans       58933.333333   59000.000000   58200.000000
      Sissonville        51333.333333   52266.666667   53066.666667
      South Charleston   91150.000000   91150.000000   91150.000000
      Upper Falls        50000.000000   47700.000000   46966.666667
      Vienna             66533.333333   66400.000000   66166.666667
      Washington         74133.333333   76566.666667   76700.000000
      Waverly            59733.333333   58600.000000   57233.333333
      Williamstown       74800.000000   77666.666667   76900.000000
WY    Bar Nunn           94350.000000   94350.000000   94350.000000
      Burns             110066.666667  110066.666667  110066.666667
      Casper             83266.666667   83266.666667   83266.666667
      Cheyenne          113800.000000  113800.000000  113800.000000
      Evansville        108466.666667  108466.666667  108466.666667
      Pine Bluffs       106833.333333  106833.333333  106833.333333

                               1997q1         1997q2         1997q3  \
State RegionName
AK    Anchor Point      189700.000000  189700.000000  189700.000000
      Anchorage         180050.000000  180050.000000  180050.000000
      Fairbanks         172500.000000  172500.000000  172500.000000
      Homer             239600.000000  239600.000000  239600.000000
      Juneau            181300.000000  181300.000000  181300.000000
      Kenai             204550.000000  204550.000000  204550.000000
      Ketchikan         197800.000000  197800.000000  197800.000000
      Kodiak            258400.000000  258400.000000  258400.000000
      Lakes             182300.000000  182300.000000  182300.000000
      North Pole        167500.000000  167500.000000  167500.000000
      Palmer            177800.000000  177800.000000  177800.000000
      Seward            247050.000000  247050.000000  247050.000000
      Soldotna          219150.000000  219150.000000  219150.000000
      Tanaina           170950.000000  170950.000000  170950.000000
AL    Adamsville         61566.666667   62300.000000   63166.666667
      Alabaster         108800.000000  109966.666667  112333.333333
      Albertville        64866.666667   65566.666667   66266.666667
      Arab               75500.000000   74400.000000   74500.000000
      Ardmore           112400.000000  112400.000000  112400.000000
      Axis              142650.000000  142650.000000  142650.000000
      Baileyton         121950.000000  121950.000000  121950.000000
      Bay Minette        68800.000000   70400.000000   70066.666667
      Bayou La Batre     37800.000000   38266.666667   39866.666667
      Bessemer           66600.000000   66600.000000   66600.000000
      Birmingham         46900.000000   47866.666667   48600.000000
      Boaz               61133.333333   62800.000000   63833.333333
      Brent              84933.333333   83600.000000   82133.333333
      Brighton           59500.000000   59500.000000   59500.000000
      Brookwood          85800.000000   85000.000000   84333.333333
      Buhl               81333.333333   83233.333333   83933.333333
...                               ...            ...            ...
WI    Yorkville         155366.666667  156166.666667  158200.000000
WV    Belle              44366.666667   44400.000000   43066.666667
      Charleston         53733.333333   54000.000000   54033.333333
      Chesapeake         40550.000000   40550.000000   40550.000000
      Clendenin          39550.000000   39266.666667   41566.666667
      Coal Fork          43350.000000   43350.000000   43350.000000
      Cross Lanes        73066.666667   71866.666667   72366.666667
      Davisville         75200.000000   75200.000000   75200.000000
      Dunbar             73400.000000   73400.000000   73400.000000
      East Bank          39750.000000   39750.000000   39750.000000
      Elkview            91350.000000   91350.000000   91350.000000
      Eskdale            81600.000000   81600.000000   81600.000000
      Marmet             47800.000000   47800.000000   47800.000000
      Mineral Wells      69666.666667   69366.666667   70400.000000
      Nitro              86200.000000   86200.000000   86200.000000
      Parkersburg        48233.333333   49400.000000   50600.000000
      Saint Albans       57600.000000   57966.666667   58166.666667
      Sissonville        55133.333333   56166.666667   57600.000000
      South Charleston   91150.000000   91150.000000   91150.000000
      Upper Falls        45633.333333   46200.000000   48266.666667
      Vienna             65766.666667   67066.666667   69600.000000
      Washington         76566.666667   78000.000000   76933.333333
      Waverly            56000.000000   56033.333333   56233.333333
      Williamstown       75633.333333   74733.333333   74133.333333
WY    Bar Nunn           94350.000000   94350.000000   94350.000000
      Burns             110066.666667  110066.666667  110066.666667
      Casper             83266.666667   83266.666667   83266.666667
      Cheyenne          113800.000000  113800.000000  113800.000000
      Evansville        108466.666667  108466.666667  108466.666667
      Pine Bluffs       106833.333333  106833.333333  106833.333333

                               1997q4    ...            2014q2         2014q3  \
State RegionName                         ...
AK    Anchor Point      189700.000000    ...     157800.000000  158000.000000
      Anchorage         180050.000000    ...     278200.000000  280766.666667
      Fairbanks         172500.000000    ...     209233.333333  207100.000000
      Homer             239600.000000    ...     233033.333333  232900.000000
      Juneau            182766.666667    ...     328266.666667  331833.333333
      Kenai             204550.000000    ...     199466.666667  197966.666667
      Ketchikan         197800.000000    ...     196866.666667  197100.000000
      Kodiak            258400.000000    ...     256400.000000  256966.666667
      Lakes             182300.000000    ...     228200.000000  233966.666667
      North Pole        167500.000000    ...     199933.333333  199400.000000
      Palmer            177800.000000    ...     225566.666667  228766.666667
      Seward            247050.000000    ...     194600.000000  190533.333333
      Soldotna          219150.000000    ...     210366.666667  209300.000000
      Tanaina           170950.000000    ...     208900.000000  211000.000000
AL    Adamsville         63266.666667    ...      77066.666667   75966.666667
      Alabaster         113100.000000    ...     147133.333333  147633.333333
      Albertville        67966.666667    ...      84033.333333   84766.666667
      Arab               75633.333333    ...     113366.666667  111700.000000
      Ardmore           112400.000000    ...     140533.333333  139566.666667
      Axis              142650.000000    ...     111066.666667  111833.333333
      Baileyton         121950.000000    ...      87666.666667   90033.333333
      Bay Minette        67166.666667    ...     113333.333333  110600.000000
      Bayou La Batre     43100.000000    ...      49800.000000   51000.000000
      Bessemer           66600.000000    ...      54600.000000   55333.333333
      Birmingham         49000.000000    ...      61733.333333   60900.000000
      Boaz               65400.000000    ...      80933.333333   81866.666667
      Brent              82433.333333    ...      93866.666667   97100.000000
      Brighton           59500.000000    ...      45366.666667   45133.333333
      Brookwood          84866.666667    ...     106633.333333  110233.333333
      Buhl               84100.000000    ...     119233.333333  132033.333333
...                               ...    ...               ...            ...
WI    Yorkville         162333.333333    ...     231500.000000  238133.333333
WV    Belle              44800.000000    ...      72900.000000   74066.666667
      Charleston         55266.666667    ...      95433.333333   99733.333333
      Chesapeake         40550.000000    ...      66400.000000   65633.333333
      Clendenin          41200.000000    ...      82233.333333   82900.000000
      Coal Fork          43350.000000    ...      65933.333333   68133.333333
      Cross Lanes        73266.666667    ...     123566.666667  124633.333333
      Davisville         75200.000000    ...      65766.666667   66200.000000
      Dunbar             73400.000000    ...      76566.666667   78866.666667
      East Bank          39750.000000    ...      69366.666667   70666.666667
      Elkview            91350.000000    ...      97433.333333  101066.666667
      Eskdale            81600.000000    ...      69366.666667   69866.666667
      Marmet             47800.000000    ...      68366.666667   68333.333333
      Mineral Wells      73133.333333    ...     116466.666667  119000.000000
      Nitro              86200.000000    ...      87366.666667   88633.333333
      Parkersburg        52266.666667    ...      79333.333333   79500.000000
      Saint Albans       59900.000000    ...      91133.333333   93333.333333
      Sissonville        57333.333333    ...      97633.333333  103766.666667
      South Charleston   91150.000000    ...     102266.666667  103933.333333
      Upper Falls        49066.666667    ...      91733.333333   97833.333333
      Vienna             71200.000000    ...     101700.000000  103700.000000
      Washington         76666.666667    ...     126333.333333  130433.333333
      Waverly            58566.666667    ...      99933.333333  100400.000000
      Williamstown       74766.666667    ...     122533.333333  125033.333333
WY    Bar Nunn           94350.000000    ...     199233.333333  200933.333333
      Burns             110066.666667    ...     168866.666667  161933.333333
      Casper             83266.666667    ...     175766.666667  177300.000000
      Cheyenne          113800.000000    ...     177466.666667  176733.333333
      Evansville        108466.666667    ...     296733.333333  305666.666667
      Pine Bluffs       106833.333333    ...     148666.666667  154366.666667

                               2014q4         2015q1         2015q2  \
State RegionName
AK    Anchor Point      155566.666667  154266.666667  154100.000000
      Anchorage         281700.000000  284166.666667  287166.666667
      Fairbanks         207000.000000  207766.666667  206466.666667
      Homer             231066.666667  233500.000000  238100.000000
      Juneau            333200.000000  335666.666667  337366.666667
      Kenai             194600.000000  198500.000000  202700.000000
      Ketchikan         197700.000000  198033.333333  196300.000000
      Kodiak            257933.333333  258566.666667  256133.333333
      Lakes             236966.666667  239833.333333  240033.333333
      North Pole        197366.666667  199066.666667  200300.000000
      Palmer            229366.666667  234466.666667  237800.000000
      Seward            186600.000000  186800.000000  185533.333333
      Soldotna          207966.666667  213500.000000  217233.333333
      Tanaina           212466.666667  215200.000000  215633.333333
AL    Adamsville         71900.000000   71666.666667   73033.333333
      Alabaster         148700.000000  148900.000000  149566.666667
      Albertville        86800.000000   88466.666667   89500.000000
      Arab              111600.000000  110166.666667  109433.333333
      Ardmore           140900.000000  143233.333333  143000.000000
      Axis              111800.000000  109533.333333  109666.666667
      Baileyton          94100.000000   94600.000000   95666.666667
      Bay Minette       109900.000000  111100.000000  114300.000000
      Bayou La Batre     51766.666667   50733.333333   50500.000000
      Bessemer           54733.333333   55200.000000   57200.000000
      Birmingham         59533.333333   59900.000000   61966.666667
      Boaz               82866.666667   83966.666667   85266.666667
      Brent             100100.000000  102433.333333  101800.000000
      Brighton           43766.666667   42500.000000   44233.333333
      Brookwood         114366.666667  117700.000000  118700.000000
      Buhl              138400.000000  141766.666667  141200.000000
...                               ...            ...            ...
WI    Yorkville         237766.666667  239133.333333  243066.666667
WV    Belle              73133.333333   71966.666667   73566.666667
      Charleston        102466.666667  102900.000000  103233.333333

In [112]:
gdp_df_Q.set_index

,1996q2,1996q3,1996q4,1997q1,1997q2,1997q3,1997q4,1998q1,1998q2,1998q3,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,435650.000000,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
1,154666.666667,154200.000000,154433.333333,156866.666667,158533.333333,159266.666667,162000.000000,166966.666667,171400.000000,175966.666667,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
2,109466.666667,109133.333333,109600.000000,111266.666667,112200.000000,112966.666667,114833.333333,116966.666667,118433.333333,120700.000000,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
3,49833.333333,49366.666667,49466.666667,49600.000000,49733.333333,49733.333333,49866.666667,50300.000000,50800.000000,50666.666667,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
4,87700.000000,88600.000000,89733.333333,91266.666667,92033.333333,93000.000000,94633.333333,96733.333333,98433.333333,100433.333333,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [113]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"

In [15]:
ct_home_price_df.groupby(['RegionName', 'State']).resample
ct_home_price_df